﻿body{
    background-color: white;
    padding: 0 0 0 0;
}

.bg-primary {
    background-color: #333577 !important; 
}

.bg-secondary{
    background-color: #2c3e50 !important;
}

.bg-white {
    z-index: 8;
    background-color: white !important;
    border-bottom: solid #CDCDCD 1px;
}

.clickable:hover{
    background-color: #334557 !important;
    cursor: pointer;
}

.btn-light {
    background-color: whitesmoke;
}

.btn-green {
    background-color: #f0fff3;
}

.btn-red {
    background-color: #fff0f0;
}

.btn-green:hover {
    background-color: #e0ffd6;
}

.btn-red:hover {
    background-color: #ffd6d6;
}

.text-success{
    color: lightgreen;
}

.navbar {
    z-index: 9;
    position: fixed;
    top: 0;
    width: 100%;
}

.heading {
    position: fixed;
    width:91%;
    top:62px;
}

.main {
    margin-top:62px;
}

.card{
    border-radius: 0;
}

.list-item > .card-header{
    font-size:18px;
}

#text-amenities {
    border: 1px solid #CDCDCD;
    overflow: auto;
    padding: 3px;
    border-radius: 10px;
}

.img-logo{
    height: 35px;
}

.bootstrap-select .btn {
    background-color: white;
    border: solid 1px #CDCDCD;
}

.main-content {
    margin-top: 120px;
}

.content{
    margin-left: 30px;
}

.closes {
    position: absolute;
    top: 4px;
    right: 18px;
    height: 25px;
    width: 25px;
    z-index: 7;
    padding: 4px 3px;
    color: white;
    background: #2c3e50;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    line-height: 12px;
    border-radius: 15px;
    opacity:0.65;
}

.closes:hover {
    opacity:1;
}

#dl{
    margin-left: 30px;
}

#gallery{
    margin-left: 0px;
}