﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/css")

    <script src="~/Libs/popper/popper.min.js"></script>

    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/api.js"></script>

    <script src="~/Scripts/common.js"></script>

    <link href="~/Styles/custom.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>

    <script src="~/Scripts/navbar.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="~/Image/Get?imageName=logo.png" class="img-logo"/>
                <b>APARTMENTS<br></b>
            </a> 
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar16">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar16">
                <ul class="navbar-nav ml-auto text-light">
                    <li class="nav-item" id="a-profile" style="display:none"> <a class="nav-link" href="/Home/UserDetails/">My Profile</a> </li>
                    <li class="nav-item" id="a-new-apartment" style="display:none"> <a class="nav-link" href="/Home/NewApartment/">New Apartment</a> </li>
                    <li class="nav-item" id="a-update-amenities" style="display:none"> <a class="nav-link" href="/Home/UpdateAmenities/">Update Amenities</a> </li>
                </ul>
                <button id="btn-reg" class="btn navbar-btn ml-md-2 btn-light text-dark">Register</button>
                <button id="btn-log" class="btn navbar-btn ml-md-2 btn-light text-dark"></button>
            </div>
        </div>
    </nav>

    <div class="main container body-content col-md-12">
        @RenderBody()
    </div>
</body>
</html>
