﻿@model ApartmentsAPI.ViewModels.EditApartmentViewModel

@{
    ViewBag.Title = "Apartment Details";
}


<div class="heading bg-white col-md-12">
    <h2>Apartment Details</h2>
</div>

<div class="main-content">
    <div id="gallery" class="row d-flex align-items-center">

    </div>

    <div id="form" style="display:none">
        <div class="form-horizontal ">
            <div class="form-group">
                <label class="control-label col-md-2">Active Status</label>
                <div class="col-md-6">
                    <select name="IsActive" id="IsActive" class="form-control custom-select">
                        <option value="0">Inactive</option>
                        <option value="1">Active</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Type</label>
                <div class="col-md-6">
                    <select name="Type" id="Type" class="form-control custom-select">
                        <option value="0">Full Apartment</option>
                        <option value="1">Room</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Rooms</label>
                <div class="col-md-6">
                    <input type="number" id="RoomCount" name="RoomCount" class="form-control" placeholder="#" />
                    <p id="number-rooms-decimal" class="text-danger" style="display:none">Must be a whole number</p>
                    <p id="number-rooms-negative" class="text-danger" style="display:none">Must be a positive number</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Guests</label>
                <div class="col-md-6">
                    <input type="number" id="GuestCount" name="GuestCount" class="form-control" placeholder="#" />
                    <p id="number-guests-decimal" class="text-danger" style="display:none">Must be a whole number</p>
                    <p id="number-guests-negative" class="text-danger" style="display:none">Must be a positive number</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Location</label>
                <div class="col-md-6">
                    <button id="btn-map" class="btn btn-light w-100" data-toggle="modal" data-target="#modal-map" data-lat='21.03' data-lng='105.85'>Show Map</button>
                    <input class="form-control mt-1" id="Location" name="Location" disabled />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Rent Dates</label>
                <div class="col-md-6" id="RentDates">
                    <input type="text" id="RentDatesText" name="RentDates" class="form-control datepicker" style="display:none">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Add Photos</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="input-group-text" id="upload">Upload</button>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="input-file" accept=".jpg, .jpeg, .png, .gif, .svg" multiple>
                            <label class="custom-file-label form-control" id="text-filename"></label>
                            <input type="text" id="Photos" name="Photos" hidden />
                        </div>
                    </div>
                    <p id="text-upload-success" class="text-success" style="display:none"></p>
                    <p id="text-upload-error" class="text-danger" style="display:none"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Price Per Night</label>
                <div class="col-md-6">
                    <input type="number" id="PricePerNight" name="PricePerNight" class="form-control" placeholder="#" />
                    <p id="number-price-negative" class="text-danger" style="display:none">Must be a positive number</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Check In Time</label>
                <div class="col-md-6 input-group clockpicker">
                    <input id="CheckInTime" type="text" class="form-control" value="14:00">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Check Out Time</label>
                <div class="col-md-6 input-group clockpicker">
                    <input id="CheckOutTime" type="text" class="form-control" value="10:00">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Amenities</label>
                <div class="col-md-6">
                    <select id="select-amenities" class="selectpicker form-control" multiple data-selected-text-format="count" data-live-search="true"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    <p id="text-fields-required" class="text-danger" style="display:none">All fields are required</p>
                    <p id="text-save-success" class="text-success" style="display:none">Saved successfully</p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <button class="btn btn-light w-50" id="btn-save">Save</button>
                        <button class="btn btn-light w-50" id="btn-cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dl">
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>Active status</dt>
                    <dd id="dd-is-active"></dd>
                    <dt>Type</dt>
                    <dd id="dd-type"></dd>
                    <dt>Rooms</dt>
                    <dd id="dd-rooms"></dd>
                    <dt>Guests</dt>
                    <dd id="dd-guests"></dd>
                    <dt>Location</dt>
                    <dd id="dd-location"></dd>
                    <dt>Available Dates</dt>
                    <dd id="dd-rent-dates"></dd>
                    <dt>Price Per Night</dt>
                    <dd id="dd-price"></dd>
                    <dt>Check In Time</dt>
                    <dd id="dd-check-in-time"></dd>
                    <dt>Check Out Time</dt>
                    <dd id="dd-check-out-time"></dd>
                    <dt>Amenities</dt>
                    <dd id="dd-amenities"></dd>
                </dl>
                <button class="btn btn-light w-100" id="btn-edit">Edit</button>
                <button class="btn btn-light w-100" id="btn-reservation">Request a Reservation</button>
            </div>
        </div>
    </div>


    <div id="reservation" style="display:none">
        <hr />
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"><b>Choose Dates for Reservation</b></label>
                    <div id="ReservationDates">
                        <input type="text" id="ReservationDatesText" name="ReservationDates" class="form-control datepicker" style="display:none">
                    </div>
                    <p id="text-inconsecutive-dates" class="text-danger" style="display:none">Dates must be consecutive</p>
                    <p id="text-date-empty" class="text-danger" style="display:none">You must choose at least one date</p>
                    <p id="text-reservation-success" class="text-success" style="display:none">Reservation successfully requested</p>
                </div>
                <div class="row">
                    <button class="btn btn-light w-50" id="btn-send">Send</button>
                    <button class="btn btn-light w-50" id="btn-cancel-reservation">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-map" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Map</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 modal_body_content d-flex justify-content-center">
                        <p>Choose a location</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 modal_body_map">
                        <div class="location-map d-flex justify-content-center align-items-center" id="location-map">
                            <div id="map" class="w-100 h-100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/apartment-details.js"></script>
<script src="~/Scripts/new-reservation.js"></script>