﻿
@{
    ViewBag.Title = "Index";
}

<div id="div-menus" class="row">
    <div class="card-group col-md-12 d-flex justify-content-center align-items-center">
        <button id="btn-apartments" class="btn btn-light col-md-4">Apartments</button>
        <button id="btn-users" class="btn btn-light col-md-4">Users</button>
        <button id="btn-reservations" class="btn btn-light col-md-4">View All Reservations</button>
    </div>
</div>

<div id="apartments-search" class="row">
    <div class="card-group col-md-12 d-flex justify-content-center align-items-center">
        <div class="card border-right-0 border-left-0 w-100 h-100">
            <div class="card-header d-flex justify-content-center align-content-center">
                Dates
            </div>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <input type="date" class="w-100" />
                <input type="date" class="mt-1 w-100" />
            </div>
        </div>
        <div class="card border-right-0 border-left-0 w-100 h-100">
            <div class="card-header d-flex justify-content-center align-content-center">
                Location
            </div>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <button id="btn-map" class="btn btn-light" data-toggle="modal" data-target="#modal-map" data-lat='21.03' data-lng='105.85'>Show Map</button>
                <input class="w-100 mt-1 form-control" id="Location" name="Location" disabled />
            </div>
        </div>
        <div class="card border-right-0 border-left-0 w-100 h-100">
            <div class="card-header d-flex justify-content-center align-content-center">
                Price
            </div>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <input type="number" class="w-100" placeholder="Lowest Price" />
                <input type="number" class="mt-1 w-100" placeholder="Highest Price" />
            </div>
        </div>
        <div class="card border-right-0 border-left-0 w-100 h-100">
            <div class="card-header d-flex justify-content-center align-content-center">
                Rooms
            </div>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <input type="number" class="w-100" placeholder="Least Rooms" />
                <input type="number" class="mt-1 w-100" placeholder="Most Rooms" />
            </div>
        </div>
        <div class="card border-right-0 border-left-0 w-100 h-100">
            <div class="card-header d-flex justify-content-center align-content-center">
                Guests
            </div>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <input type="number" class="w-100" placeholder="Least Guests" />
                <input type="number" class="mt-1 w-100" placeholder="Most Guests" />
            </div>
        </div>
    </div>
</div>

<div id="users-search" class="row" style="display:none">
    <div class="card-group col-md-12 d-flex justify-content-center align-items-center">
        <div class="card border-right-0 border-left-0 w-100 h-100">
            <div class="card-header d-flex justify-content-center align-content-center">
                Role
            </div>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <select class="custom-select">
                    <option>Admin</option>
                    <option>Host</option>
                    <option>Guest</option>
                </select>
            </div>
        </div>
        <div class="card border-right-0 border-left-0 w-100 h-100">
            <div class="card-header d-flex justify-content-center align-content-center">
                Gender
            </div>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <select class="custom-select">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
            </div>
        </div>
        <div class="card border-right-0 border-left-0 w-100 h-100">
            <div class="card-header d-flex justify-content-center align-content-center">
                Username
            </div>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <input type="text" class="w-100" placeholder="Username" />
            </div>
        </div>
    </div>
</div>

<div id="apartments-filter" class="row">
    <div class="card-group col-md-12 d-flex justify-content-center align-items-center">
        <div id="div-active" class="card border-right-0 border-left-0 w-100 h-100" style="display:none">
            <div class="card-header d-flex  justify-content-center align-items-center">
                <label class="form-text mr-2">Active</label>
                <select id="select-active" class="custom-select">
                    <option>Any</option>
                    <option>Active</option>
                    <option>Inactive</option>
                </select>
            </div>
        </div>
        <div class="card border-right-0 border-left-0 w-100 h-100">
            <div class="card-header d-flex flex-row justify-content-center align-items-center">
                <label class="form-text mr-2">Price</label>
                <select class="custom-select">
                    <option>Descending</option>
                    <option>Ascending</option>
                </select>
            </div>
        </div>
        <div class="card border-right-0 border-left-0 w-100 h-100">
            <div class="card-header d-flex flex-row justify-content-center align-items-center">
                <label class="form-text mr-2">Amenities</label>
                <select class="selectpicker">
                    <option>Descending</option>
                    <option>Ascending</option>
                </select>
            </div>
        </div>
        <div class="card border-right-0 border-left-0 w-100 h-100">
            <div class="card-header d-flex flex-row justify-content-center align-items-center">
                <label class="form-text mr-2">Type</label>
                <select id="select-type" class="custom-select">
                    <option>Any</option>
                    <option>Room</option>
                    <option>Full</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row" id="list">
</div>

<div class="modal fade" id="modal-map" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Map</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 modal_body_content d-flex justify-content-center">
                        <p>Choose a location</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 modal_body_map">
                        <div class="location-map d-flex justify-content-center align-items-center" id="location-map">
                            <div id="map" class="w-100 h-100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/home.js"></script>
<script src="~/Scripts/apartment-list.js"></script>
<script src="~/Scripts/user-list.js"></script>
<script src="~/Scripts/reservation-list.js"></script>