﻿@model ApartmentsAPI.ViewModels.LoginUserViewModel

@{
    ViewBag.Title = "Login";
}


<div class="heading bg-white col-md-12">
    <h2>Login</h2>
</div>

<div class="form-horizontal main-content">
    <div class="form-group">
        <label class="control-label col-md-2">Username</label>
        <div class="col-md-6">
            <input type="text" id="Username" name="Username" class="form-control" placeholder="Username" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Password</label>
        <div class="col-md-6">
            <input type="password" id="Password" name="Password" class="form-control" placeholder="••••••" />
        </div>
    </div>
    <div id="div-error" class="col-md-offset-2" style="display:none">
        <p id="text-error" class="text-danger"></p>
    </div>
    <div class="form-group">
        <div class="col">
            <p id="text-fields-required" class="text-danger" style="display:none">All fields are required</p>
        </div>
        <div class="col-md-6">
            <button id="btn-login" class="btn btn-light w-100" disabled>Log In</button>
        </div>
    </div>
    <div class="col-md-offset-2">
        Don't have an account?
        <br />
        <a href="/home/register">Register</a>
    </div>
</div>

<script src="~/Scripts/login.js"></script>