﻿@model ApartmentsAPI.ViewModels.NewApartmentViewModel

@{
    ViewBag.Title = "New Apartment";
}

<div class="heading bg-white col-md-12">
    <h3>New Apartment</h3>
</div>

<div class="main-content">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Type</label>
            <div class="col-md-6">
                <select name="Type" id="Type" class="form-control custom-select">
                    <option value="0">Full Apartment</option>
                    <option value="1">Room</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Rooms</label>
            <div class="col-md-6">
                <input type="number" id="RoomCount" name="RoomCount" class="form-control" placeholder="#" />
                <p id="number-rooms-decimal" class="text-danger" style="display:none">Must be a whole number</p>
                <p id="number-rooms-negative" class="text-danger" style="display:none">Must be a positive number</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Guests</label>
            <div class="col-md-6">
                <input type="number" id="GuestCount" name="GuestCount" class="form-control" placeholder="#" />
                <p id="number-guests-decimal" class="text-danger" style="display:none">Must be a whole number</p>
                <p id="number-guests-negative" class="text-danger" style="display:none">Must be a positive number</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Location</label>
            <div class="col-md-6">
                <button id="btn-map" class="btn btn-light w-100" data-toggle="modal" data-target="#modal-map" data-lat='21.03' data-lng='105.85'>Show Map</button>
                <input class="form-control mt-1" id="Location" name="Location" disabled />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Rent Dates</label>
            <div class="col-md-6" id="RentDates">
                <input type="text" id="RentDatesText" name="RentDates" class="form-control datepicker" style="display:none">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Photos</label>
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="input-group-text" id="upload">Upload</button>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="input-file" accept=".jpg, .jpeg, .png, .gif, .svg" multiple>
                        <label class="custom-file-label form-control" id="text-filename"></label>
                        <input type="text" id="Photos" name="Photos" hidden />
                    </div>
                </div>
                <p id="text-upload-success" class="text-success" style="display:none"></p>
                <p id="text-upload-error" class="text-danger" style="display:none"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Price Per Night</label>
            <div class="col-md-6">
                <input type="number" id="PricePerNight" name="PricePerNight" class="form-control" placeholder="#" />
                <p id="number-price-negative" class="text-danger" style="display:none">Must be a positive number</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Check In Time</label>
            <div class="col-md-6 input-group clockpicker">
                <input id="CheckInTime" type="text" class="form-control" value="14:00">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Check Out Time</label>
            <div class="col-md-6 input-group clockpicker">
                <input id="CheckOutTime" type="text" class="form-control" value="10:00">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Amenities</label>
            <div class="col-md-6">
                <select id="select-amenities" class="selectpicker form-control" multiple data-selected-text-format="count" data-live-search="true"></select>
            </div>
        </div>
        <div class="form-group">
            <p id="text-fields-required" class="text-danger" style="display:none">All fields are required</p>
            <p id="text-success" class="text-success" style="display:none"> Successfully created</p>
        </div>
        <div class="form-group">
            <button id="btn-add" class="btn btn-light w-50">Create</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-map" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Map</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 modal_body_content d-flex justify-content-center">
                        <p>Choose a location</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 modal_body_map">
                        <div class="location-map d-flex justify-content-center align-items-center" id="location-map">
                            <div id="map" class="w-100 h-100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/new-apartment.js"></script>