﻿@model ApartmentsAPI.ViewModels.RegisterUserViewModel

@{
    ViewBag.Title = "Registration";
}


<div class="heading bg-white col-md-12">
    <h2>Register</h2>
</div>

<div class="form-horizontal main-content">
    <div class="form-group">
        <label class="control-label col-md-2">Username</label>
        <div class="col-md-6">
            <input type="text" id="Username" name="Username" class="form-control" placeholder="Username" />
            <p id="text-username-taken" class="text-danger" style="display:none">Username is taken</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Password</label>
        <div class="col-md-6">
            <input type="password" id="Password" name="Password" class="form-control" placeholder="••••••" />
            <p id="text-password-short" class="text-danger" style="display:none">Password must have at least 6 characters</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Confirm Password</label>
        <div class="col-md-6">
            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="••••••" />
            <p id="text-password-different" class="text-danger" style="display:none">Passwords do not match</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Name</label>
        <div class="col-md-6">
            <input type="text" id="Name" name="Name" class="form-control" placeholder="John" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Surname</label>
        <div class="col-md-6">
            <input type="text" id="Surname" name="Surname" class="form-control" placeholder="Doe" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Gender</label>
        <div class="col-md-6">
            <select name="Gender" id="Gender" class="form-control custom-select">
                <option value="0">Male</option>
                <option value="1">Female</option>
                <option value="2">Other</option>
            </select>
        </div>
    </div>
    <div id="div-error" class="col-md-offset-2" style="display:none">
        <p id="text-error" class="text-danger"></p>
    </div>
    <div class="form-group">
        <div class="col">
            <p id="text-fields-required" class="text-danger" style="display:none">All fields are required</p>
        </div>
        <div class="col-md-6">
            <button id="btn-register" class="btn btn-light w-100" disabled>Register</button>
        </div>
    </div>
    <div class="col-md-offset-2">
        Already have an account?
        <br />
        <a href="/home/login">Log In</a>
    </div>
</div>


<script src="~/Scripts/registration.js"></script>