﻿
@{
    ViewBag.Title = "ReservationDetails";
}

<div class="heading bg-white col-md-12">
    <h2>Reservation Details</h2>
</div>


<div class="main-content">
    <div id="dl" class="">
        <dl class="dl-horizontal">
            <dt>Guest</dt>
            <dd id="dd-guest"></dd>
            <dt>Apartment</dt>
            <dd id="dd-apartment"></dd>
            <dt>Start Date</dt>
            <dd id="dd-startdate"></dd>
            <dt>Overnight stays</dt>
            <dd id="dd-overnightstaycount"></dd>
            <dt>Reservation State</dt>
            <dd id="dd-state"></dd>
        </dl>

        <p id="text-fields-required" class="text-danger" style="display:none">All fields are required</p>
        <p id="text-save-success" class="text-success" style="display:none">Saved successfully</p>
        <button class="btn btn-green" id="btn-accept" style="display:none">Accept</button>
        <button class="btn btn-red" id="btn-decline" style="display:none">Decline</button>
        <button class="btn btn-red" id="btn-cancel" style="display:none">Cancel</button>
        <button class="btn btn-red" id="btn-complete" style="display:none">Complete</button>
    </div>
</div>

<script src="~/Scripts/reservation-details.js"></script>