﻿
@{
    ViewBag.Title = "Update Amenities";
}

<div class="heading bg-white col-md-12">
    <h2>Update Amenities</h2>
</div>

<div class="main-content">
    <button id="btn-save" class="btn btn-light mt-1 w-100">Save</button>
    <p id="text-success" class="text-success" style="display:none">Successfully Updated</p>
    <ul class="list-group" id="list"></ul>
</div>

<script src="~/Scripts/update-amenities.js"></script>