﻿@model ApartmentsAPI.ViewModels.EditUserViewModel

@{
    ViewBag.Title = "User Details";
}


<div class="heading bg-white col-md-12">
    <h2>User Details</h2>
</div>


<div class="main-content">
    <div id="form" style="display:none">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Username</label>
                <div class="col-md-6">
                    <input type="text" id="Username" name="Username" class="form-control" placeholder="Username" />
                    <p id="text-username-taken" class="text-danger" style="display:none">Username is taken</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Password</label>
                <div class="col-md-6">
                    <input type="password" id="Password" name="Password" class="form-control" placeholder="••••••" />
                    <p id="text-password-short" class="text-danger" style="display:none">Password must have at least 6 characters</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Confirm Password</label>
                <div class="col-md-6">
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="••••••" />
                    <p id="text-password-different" class="text-danger" style="display:none">Passwords do not match</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Name</label>
                <div class="col-md-6">
                    <input type="text" id="Name" name="Name" class="form-control" placeholder="John" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Surname</label>
                <div class="col-md-6">
                    <input type="text" id="Surname" name="Surname" class="form-control" placeholder="Doe" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Gender</label>
                <div class="col-md-6">
                    <select name="Gender" id="Gender" class="form-control custom-select">
                        <option value="0">Male</option>
                        <option value="1">Female</option>
                        <option value="2">Other</option>
                    </select>
                </div>
            </div>
            <div id="div-role" class="form-group">
                <label class="control-label col-md-2">Role</label>
                <div class="col-md-6">
                    <select name="Role" id="Role" class="form-control custom-select" disabled>
                        <option value="0" disabled>Admin</option>
                        <option value="1">Host</option>
                        <option value="2">Guest</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    <p id="text-fields-required" class="text-danger" style="display:none">All fields are required</p>
                    <p id="text-save-success" class="text-success" style="display:none">Saved successfully</p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <button class="btn btn-light w-50" id="btn-save">Save</button>
                        <button class="btn btn-light w-50" id="btn-cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dl" class="">
        <dl class="dl-horizontal">
            <dt>Username</dt>
            <dd id="dd-username"></dd>
            <dt>Name</dt>
            <dd id="dd-name"></dd>
            <dt>Surname</dt>
            <dd id="dd-surname"></dd>
            <dt>Gender</dt>
            <dd id="dd-gender"></dd>
            <dt id="dt-role">Role</dt>
            <dd id="dd-role"></dd>
            <dt id="dt-banned">Banned</dt>
            <dd id="dd-banned"></dd>
        </dl>
        <button class="btn btn-light" id="btn-edit">Edit</button>
    </div>
</div>

<script src="~/Scripts/user-details.js"></script>